<!-- <p>odot works!</p> -->


<div class="jumbotron">
    <img class="mb-4" src="./assets/AjaxNet.jpg" alt="" width="80%" height="">

    <div class="aaaa">  
  <h1 class="display-4">אודות הלשכה</h1>
  <p class="lead">ייעודו של ארגון "עמותת טוענים רבניים" הוא לאגד בתוכו את כל הטו"ר בעלי הרישיון, מטרת הארגון היא בין היתר חקיקת המקצוע, קידום המקצוע, סיוע באיתור מקורות עבודה לחברים, פעילות משותפת עם ההנהלה ובתי הדין הרבניים בארץ ובחו"ל ועוד. הלשכה עומדת על משמר זכויות הטו"ר ואף יוזמת הליכים משפטיים להבטחתן. התהליך כולל פעילות ציבורית ופרלמנטארית ליוזמות חקיקה המשרתות את עניינם של חברי העמותה, מגעים עם מנכ"ל בתי הדין הרבניים ויועצו המשפטי, וקיום מגעים עם שר המשפטים ואנשי משרדו.</p>
  <hr class="my-4">
  <p>שולי הדברים נכתוב שהאתר עדיין בבניה ונשמח לקבל משובים והערות</p>
  <h6>הערות והארות או להרשמה כטוען רבני נא לשלוח למייל הנ"ל עם הפרטים</h6>
  <a class="btn btn-primary btn-lg" href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" role="button">  yoelfrid1@gmail.com </a>
</div>

</div>